*{
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    height: 10vh;
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    align-items: center;
    list-style-type: none;
    background-color: black;
    height: 100%;
    
}
.navbar ul li{
    color: red;
    cursor: pointer;
   
}
.navbar ul li:hover{
    color: white;
}
.main{
    background-color: rgb(42, 78, 88);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.main button{
    color: rgb(42, 78, 88);
    font-size: medium;
    border-radius: 4px solid ;
}

.bottom{
    background-color: rgb(42, 78, 88);
    padding: 20px;
    height: 10vh;
}

/* Awning
ramp */
